:root {
    --main-color: blueviolet;
    --sec-color: white;
    --footer-color: #313131;
}

@font-face {
    font-family: Oxygen;
    src: url("../fonts/Oxygen-Regular.ttf")
}

@font-face {
    font-family: Oxygen-bold;
    src: url("../fonts/Oxygen-Bold.ttf");
}

html {
    font-family: Oxygen;
    scroll-behavior: smooth;
}

footer {
    position: relative;
    width: 100%;
    margin-left: 0px;
    font-size: 15px;
    color: var(--sec-color);
}

p {
    text-align: justify;
}

.text-align-center {
    text-align: center;
}

#bg {
    background-image: url("../img/background.jpg");
    width: 100%;
    height: 100%;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
}


/*---------------------------------------
    BARRA SUPERIOR       
-----------------------------------------*/

#barraSuperior {
    z-index: 1;
    background-color: var(--sec-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: var(--main-color);
}

.nav-bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-list-item,
.nav-bar-list-large {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    float: left;
    transition: 0.3s;
}

.nav-bar-list-item-right {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 7px;
    width: 150px;
    float: right;
    transition: 0.3s;
}

.large {
    font-family: Oxygen-bold;
    padding-top: 8px;
    padding-bottom: 0px;
    font-size: 20px;
    width: 300px;
}

.nav-bar-list-item a,
.nav-bar-list-large a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: 0.3s;
}

.nav-bar-list-item-right a {
    color: var(--sec-color);
    text-align: center;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-color: var(--main-color);
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 8px;
    transition: 0.3s;
}

.nav-bar-list-item:hover {
    background-color: var(--main-color);
}

.nav-bar-list-item a:hover {
    color: var(--sec-color)
}

.nav-bar-list-item-right a:hover {
    color: var(--main-color);
    background-color: var(--sec-color);
    border-color: var(--main-color);
}

.icon-logo {
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    vertical-align: middle;
}


/*-------------------------------------
    GRID
---------------------------------------*/

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


/*------------------------------------------
    Banner
---------------------------------------------*/

.image {
    width: 100%;
    height: 100%;
}

.right-image {
    grid-column-start: 8;
    grid-column-end: 13;
}

.left-image {
    grid-column-start: 1;
    grid-column-end: 6;
}

.info-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--sec-color);
}

.right-info {
    grid-column-start: 6;
    grid-column-end: 13;
}

.left-info {
    grid-column-start: 1;
    grid-column-end: 8;
}

.componente {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#banner {
    margin-top: 100px;
}


/*------------------
    Temario
-------------------*/

.temario {
    margin: auto;
    width: 80%;
}

.link {
    color: var(--sec-color);
}


/*---------------------------------
    Btn
------------------------------------*/

.bnt-container {
    position: relative;
    margin-top: 50px;
}

.btn {
    font-size: 20px;
    font-family: Oxygen-bold;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 5px;
    border-radius: 30px;
    color: var(--sec-color);
    background-color: var(--main-color);
    transition: 0.5s;
}

.btn:hover {
    border-style: solid;
    border-width: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--sec-color);
    border-color: var(--sec-color);
}


/*-----------------------------
    CARRUSEL
--------------------------------*/

* {
    box-sizing: border-box
}

.slider-info {
    padding-left: 50px;
}

.slider-image {
    margin-top: 30px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 95%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.carrusel-active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* ------------------------------
    Acordeones del temario
---------------------------------*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*-----------------
    registro e inicio de sesion
*/

#login {
    position: relative;
    background: white;
    margin-top: 60px;
}

#crear {
    position: relative;
    background: white;
}
.crar{
    position: relative;
    top: 18px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 770px;
}
.inicio {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 30px;
    font-family: Oxygen-Bold;
}

.form {
    position: relative;
    background: #FFFFFF;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.form .thumbnail {
    background: blueviolet;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    width: 100%;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: blueviolet;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: blueviolet;
    text-decoration: none;
}
/*-----------------
    Mapa curricular
*/
.mapa{
    position: relative;
    left: 18%;
}
table.mapa {
    width: 900px;
    height: 800px;
  }
table.mapa td, table.mapa th {
    
    font-size: larger;
    border-radius: 10px;
    border: 5px solid white;
/*-----------------
   Certificados
*/
}
.r1,.r2,.r3{
    position:relative;
    width: 500px;
}
.r2{
    bottom: 650px;
    left: 32.5%;
}
.r3{
    bottom: 1240px;
    left: 65%;
}
#cert{
    position: relative;
    bottom: 20px;
    margin-bottom: 90px;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 650px;
}
.c1,.c2,.c3{
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.desc{
    bottom: 40px;
    border-radius: 20px 20px 20px 20px;
}
#ini{
    position: relative;
    top: 60px;
    margin-bottom: 90px;
}
/* -------------------------------------------------------------------*/
.thumbnail2 {
    background: blueviolet;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}
.thumbnail2 img {
    display: block;
    width: 100%;
    position: relative;
    bottom: 20px;
}
/* -------------------------------------------------------------------*/
#Backg{
    position: relative;
    background: #FFFFFF;
    width: 70%;
    top: 70px;
    margin: 0 auto;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
.boton {
    outline: 0;
    background: blueviolet;
    width: 10%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
/* -------------------------------------------------------------------*/
#c1{
    position: absolute;
    width: 45%;
    height: 45%;
    top: 70px;
    margin: 0 auto;
    padding-left: 30px;
    text-align: center;
}
#c2{
    position: absolute;
    right: 10px;
    height: 45%;
    top: 70px;
    width: 45%;
    padding-right: 30px;
    text-align: center;
}
#c3{
    position: absolute;
    top: 55%;
    width: 99%;
    padding-left: 30px;
    padding-right: 30px;
}
.encab{
    color: white;
    background: blueviolet;
    height: 10%;
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Inter{
    margin-top: 0px;
    position: relative;
    background: white;
    bottom: 16px;
    width: 100%;
    height: 90%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rgt{
    position: relative;
    width: 70%;
    left: 30%;
    bottom: 130px;
    padding: 10px;
}
.lft{
    position: relative;
    width: 25%;
    top: 50px;
}
.log{
    background: blueviolet;
    position: relative;
    width: 150px;
    height: 150px;
    padding: 40px 10px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}
#Tb{
    width: 70%;
    margin: 0 auto 20px;
    text-align: center;
    padding-left: 20px;
    top: 10px;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;       
    width: 100%;
    text-align: center;    
    border-collapse: collapse;
}
th{
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;    
    background: blueviolet;    
    color: white; }

td{    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: blueviolet;    
    border-top: 1px solid transparent; }

tr:hover td{ 
    background: #d0dafd; 
    color: blueviolet; }